*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color:#cffffe;
    --sub-color-1:#f9f7d9;
    --sub-color-2:#fce2ce;
    --accent:#ffc1f3;
}
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Lato&family=Poppins:wght@200&display=swap');

body{
    height: 100%;
    width: 100%;
}

.container{
    width: 100%;
    height: 100vh;
    perspective: 800px;
    display: flex;
    flex-direction: row;
}
.containerLocked{
    overflow: hidden;
}
.inner{
    transform-style: preserve-3d;
    backface-visibility: hidden;
    flex: 1;
    overflow: auto;
    height:100%;
    width: 100%;
    transition: transform 0.8s ease;
    position: relative;
    z-index: 10;
}
.animation{
    transition: transform 0.8s ease;
    transform: rotateY(-40deg);
    overflow: hidden !important;
}

.navBar{
    width: 100%;
    height: 8%;
    font-family: 'Poppins',sans-serif;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    z-index: 4;
    transition: all 0.8s ease;
}
.sticky{
    position: fixed;
    background-color:var(--main-color);
    transition: background-color 0.8s ease;
    border-bottom: 2px solid white;
}
.sticky i{
    color: black !important;
}
.sticky a{
    color: black !important;
}
.navLinks{
    display: flex;
    align-items: center;
    height: 100%;
    width: fit-content;
}
.navBar a{
    text-decoration: none;
    color: white;
    font-size: calc(14px + 0.2vw);
    font-family: 'Lato',sans-serif;
}
.navBar i{
    font-size: calc(14px + 0.2vw);
    color: white;
}
.navContainer{
    display: flex;
    align-items: center;
    height: 70%;
    margin:0 10px;
    background-color: var(--sub-color-2);
    padding: 15px;
}
.navLinks i{
    color: black;
}
.navContainer a{
    font-family: 'Lato',sans-serif;
    color: black;
    margin:0 10px;
}
#menu{
    background-color: var(--sub-color-1);
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}


#social{
    background-color: transparent;
}
#social a{
    color: white;
    margin: 5px;
}

#social i{
    margin: 10px;
}

.vidContainer{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#videoBg{
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.imgContainer{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgContainer img{
    width: 40%;
}

.sideMenu{
    width: 40vw;
    max-width: 400px;
    height: 100%;
    z-index: 5;
}
.sideMenuInner{
    background-color: black;
    padding: 1.2rem;
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    height: 100%;
    width: 100%;
}
.back{
    background-color: red !important;
    font-family: 'Poppins',sans-serif;
    color: white;
    font-size: 100%;
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: center;
    cursor: pointer;
    width:60%;
    height: 7%;
    padding: 0rem 2.5rem;
}

.content{
    width: 100%;
    height: 40vh;
}



@media only screen and (max-width:590px){
    .navBar a{
        display: none;
    }
    .sideMenu{
        width: 60vw;
    }
}




