*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color:#cffffe;
    --sub-color-1:#f9f7d9;
    --sub-color-2:#fce2ce;
    --accent:#ffc1f3;
}
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Lato&family=Poppins:wght@200&display=swap');

body{
    height: 100%;
    width: 100%;
}

.container{
    width: 100%;
    height: 100vh;
    perspective: 800px;
    display: flex;
    flex-direction: row;
}
.containerLocked{
    overflow: hidden;
}
.inner{
    transform-style: preserve-3d;
    backface-visibility: hidden;
    flex: 1;
    overflow: auto;
    height:100%;
    width: 100%;
    transition: transform 0.8s ease;
    position: relative;
    z-index: 10;
}
.animation{
    transition: transform 0.8s ease;
    transform: rotateY(-40deg);
    overflow: hidden !important;
}

.navBar{
    width: 100%;
    height: 8%;
    font-family: 'Poppins',sans-serif;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    z-index: 4;
    transition: all 0.8s ease;
}
.sticky{
    position: fixed;
    background-color:var(--main-color);
    transition: background-color 0.8s ease;
    border-bottom: 2px solid white;
}
.sticky i{
    color: black !important;
}
.sticky a{
    color: black !important;
}
.navLinks{
    display: flex;
    align-items: center;
    height: 100%;
    width: fit-content;
}
.navBar a{
    text-decoration: none;
    color: white;
    font-size: calc(14px + 0.2vw);
    font-family: 'Lato',sans-serif;
}
.navBar i{
    font-size: calc(14px + 0.2vw);
    color: white;
}
.navContainer{
    display: flex;
    align-items: center;
    height: 70%;
    margin:0 10px;
    background-color: var(--sub-color-2);
    padding: 15px;
}
.navLinks i{
    color: black;
}
.navContainer a{
    font-family: 'Lato',sans-serif;
    color: black;
    margin:0 10px;
}
#menu{
    background-color: var(--sub-color-1);
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}


#social{
    background-color: transparent;
}
#social a{
    color: white;
    margin: 5px;
}

#social i{
    margin: 10px;
}

.vidContainer{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#videoBg{
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.imgContainer{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgContainer img{
    width: 40%;
    min-width: 100px;
}

.sideMenu{
    width: 40vw;
    max-width: 400px;
    background-color: var(--sub-color-2);
    height: 100%;
    z-index: 5;
}
.sideMenuInner{
    padding: 1.2rem;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 100%;
    width: 100%;
}
.menu{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}
.menuIcons{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.menuIcons p{
    margin: 0 !important;
    font-family: 'Cinzel',serif !important;
    font-weight: 600;
}
.menuIcons i{
    color: var(--sub-color-1);
    transition: color 0.3s ease;
    font-size: calc(28px + 0.1vw);
}
.menuIcons i:hover{
    color: white;
}
.menu p{
    margin: auto;
    font-family: 'Poppins',sans-serif;
    font-size: calc(14px + 0.2vw);
}
.menu hr{
    width: 80%;
    border: 0;
    border-top: 1px solid rgb(184, 184, 184);
    color: black;
    margin: 1rem auto;
}
.menuLink{
    font-family: 'Cinzel', serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    margin: 1rem;
    font-size: calc(18px + 0.1vw);
    color: black;
    transition: all 0.3s ease;
}
.menuLink:hover{
    transition: all 0.3s ease;
    background-color: var(--sub-color-1);
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 1.5rem;
}
.back{
    background-color: var(--accent);
    font-family: 'Poppins',sans-serif;
    color: black;
    font-size: 100%;
    font-family: 'Lato',sans-serif;
    display: flex;
    align-items: center;
    margin: 1rem;
    justify-content: center;
    cursor: pointer;
    width:fit-content;
    height: fit-content;
    padding: 0.5rem 2.5rem;
    border-bottom-left-radius: 50px;
    transition:background-color 0.3s ease;
}
.back:hover{
    transition:background-color 0.3s ease;
    background-color: #fda2eb;
}
.back i{
    margin: 5px;
    color: white;
    font-size: calc(18px + 0.2vw);
}

.content{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    position: relative;
    margin: 10rem 0;
}

.innerContentWrap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    background-color: rgb(229, 226, 226);
}
.textWrap{
    height: fit-content;
    min-width: 300px;
    flex: 0.5;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
}
.textWrap h1{
    font-size: calc(23px + 0.2vw);
    font-family: 'Cinzel',serif;
    font-weight: 200;
    margin: 1rem 0;
}
.textWrap p{
    font-size: calc(14px + 0.1vw);
    line-height: 30px;
}
.textWrap p, h4{
    font-family: 'Lato',sans-serif;
    font-weight: 200;
}
.innerContentWrap img{
    width: 40%;
    min-width: 300px;
    position: relative;
    top: -4rem;
    margin-bottom: 5rem;
}



@media only screen and (max-width:590px){
    .navBar a{
        display: none;
    }
    .sideMenu{
        width: 60vw;
    }
    .textWrap h1{
        font-size: calc(22px + 0.2vw);
    }
    .innerContentWrap{
        flex-direction: column-reverse;
    }
    .innerContentWrap img{
        position: static;
        margin: 1rem;
    }
    .menuLink{
        font-size: calc(12px + 0.1vw) !important;
    }
    .menuIcons i{
        font-size: calc(18px + 0.1vw);
    }
}





